
.demo{
		font-size: 20px;
		color: grey;
	}
.box-1{
	height: 100px;
	width: 200px;
	background-color: red;
	float: left;
	margin:10px 20px 30px 40px;
	padding-top: 80px;
	padding-left: 90px;
}
.box-2{
	height: 100px;
	width: 200px;
	background-color: green;
	float: left;
}
.box-3{
	height: 100px;
	width: 960px;
	background-color: black;
	float: left;
}
.col-1{ width:8.33%; }
.col-2{ width:16.66%;}
.col-3{ width:25%; }
.col-4{ width:33.33%; }
.col-5{ width:41.66%; }
.col-6{ width:50%; }
.col-7{ width:58.33%; }
.col-8{ width:66.66%; }
.col-9{ width:75%; }
.col-10{ width:83.33%; }
.col-11{ width:91.66%; }
.col-12{ width:100%; }
/*for same attribs for multiple classes*/
[class*='col-']{
	float:left;
	box-sizing: border-box;
	border: 1px solid;
}
.header-top-height{height: 30px;}
.header-height{height: 200px;}
.menu-height{height: 50px;}
.content-height{height: 500px;}
.footer-big-height{height: 300px;}
.footer-height{height: 30px;}
/*A pseudo element class below*/
.row:after{
	content: '';
	clear: both;
	display: block;
}
/*Wrapper*/
.container{
	width:80%;
	height: auto;
	margin: 0 auto;
}