.div-one{
	height: 200px;
	width: 300px;
	background-color: blue;
}
/*Media Query*/
@media screen and (max-width: 500px) {
	body{
		background-color: red;
	}

}
@media screen and (min-width: 520px) and (max-width: 700px){
	body{
		background-color: green;
	}

}
@media screen and (min-width: 1000px) {
	body{
		background-color: orange;
	}

}